<div class="job-container">
  <div class="job-content-left">
    <h4>Customer Service Representative of<span style="color:rgba(25,20,20,.3);">Social Media Platform</span></h4>
    <%= button_to "Back", about_path, class:"button-contact", :method => :get %>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Company:</strong> Teleperformance Portugal</p>
      <p><strong>City:</strong> Lisbon</p>
      <p><strong>Date:</strong> May to December 2019</p>
    </div>
    <div class="job-description">
      <p>Provided support and guidance to small-to-medium sized businesses through the issues generated with Facebook ads account (Ads Manager and Business Manager platforms). In this role, I applied the first troubleshooting steps to solve bugs in relation to the ads delivery, catalogs, pixels, connection with Shopify, etc. bugs, promo codes, etc. <br>
      Also, I managed requests for promo codes, refunds, and hacking ad account issues (these tasks were articulated with other teams). <br>
      Use of chat, phone, and email. I worked with both Spanish and English languages.</p>
    </div>
  </div>
</div>
