<div class="job-container">
  <div class="job-content-left">
    <h4>Advertiser Support at <span style="color:rgba(25,20,20,.3);">Facebook</span></h4>
    <button class="button-contact"><a href="/#jobs">Back</a></button>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Date:</strong> May to December 2019</p>
    </div>
    <div class="job-description">
      <p>Provided support to small and medium-sized businesses via phone, email, and chat, delivering timely assistance for a wide range of issues related to <b>Facebook Ads</b> and <b>Business Manager</b>.<br><br>
      Supported the setup and troubleshooting of <b>Facebook Pixel</b> implementations on clients’ websites. Helped identify misconfigurations, missing events, and provided technical guidance to ensure accurate data tracking.<br><br>
      Handled <b>general support</b> cases, including refund requests, billing errors, and bug escalations<br><br>
      Assisted with the creation and configuration of <b>product catalogs</b> for dynamic ads, ensuring proper feed integration and catalog health.</p>
    </div>
  </div>
</div>
