<div class="job-container">
  <div class="job-content-left">
    <h4>Advertiser Support of <span style="color:rgba(25,20,20,.3);">Social Media Platform</span></h4>
    <%= button_to "Back", about_path, class:"button-contact", :method => :get %>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p>Company: Teleperformance Portugal</p>
      <p>City: Lisbon</p>
      <p>Date: March to November 2019</p>
    </div>
    <div class="job-description">
      <p>Provided support and guidance to small-to-medium sized businesses through the issues generated with the social media ads account: delivery, catalogs, pixels, Shopify, bugs, promo codes, etc. Use of chat, phone, and email.
      The Marketplace team builds Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests, understands, and safeguards the world's audio. Our Creator products enable artists and their teams to create, connect, and grow their audience. Central to the Marketplace vision is our offering of promotion tools for artists and labels, powered by Spotify’s deep knowledge of listener preferences and behaviors. We are looking for a Senior User Researcher to join the Marketplace Studio team to bring the voice of artists, labels & listeners in driving our promotional tools strategy & products. You will help us increase our impact on growing the music industry by ensuring we are delivering trustworthy products to our users and partners, developing a consistent and coherent core user experience in our products, and enabling our internal teams to quickly iterate and innovate. You’ll work as part of a cross-disciplinary team to design and execute research throughout the product development cycle, bringing insights into every decision we make.</p>
      <strong>Things that I learn:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
      <strong>Technical tools:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
    </div>
  </div>
</div>
