<div class="job-container">
  <div class="job-content-left">
    <h4>Content Moderator of <span style="color:rgba(25,20,20,.3);">TikTok</span></h4>
    <button class="button-contact"><a href="/#jobs">Back</a></button>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Company:</strong> Arvato Spain</p>
      <p><strong>City:</strong> Barcelona</p>
      <p><strong>Date:</strong> Oct 2018 to April 2019</p>
    </div>
    <div class="job-description">
      <p>Protected the ecosystem of an global social media platform and therefore offer a positive experience for the users of this App. <br>
        Review and moderate content that was violating the policy of the company. <br>
        Daily adaptation to the changes produced in the guidelines to moderate the content, sometimes with the help of a trainer and other times by myself reading the updates. <br>
        I worked with both Spanish and English languages.</p>
    </div>
  </div>
</div>
