<div class="job-container">
  <div class="job-content-left">
    <h4>Content Moderator of Social Media Platform</h4>
    <%= button_to "Back", about_path, class:"button-contact", :method => :get %>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p>Company: Arvato Spain</p>
      <p>City: Barcelona</p>
      <p>Date: Oct 2018 to April 2019</p>
    </div>
    <div class="job-description">
      <p>Protected the ecosystem of the social media platform and therefore offer a positive experience for the users of this international App. Review and moderate content that is violating the policy and the guidelines of the company. Part-time job.</p>
      <strong>Things that I learn:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
      <strong>Technical tools:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
    </div>
  </div>
</div>
