<div class="job-container">
  <div class="job-content-left">
    <h4>Customer Service of Delivery App</h4>
    <%= button_to "Back", about_path, class:"button-contact", :method => :get %>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p>Company: Teleperformance Spain</p>
      <p>City: Barcelona</p>
      <p>Date: Sep 2018 to Feb 2019</p>
    </div>
    <div class="job-description">
      <p>Provide support to users and consumers of an App delivery through phone, chat and email. Part-time job. Solved incidences generated in relation to the service provided. Mediator between Clients, Partners and Carriers.</p>
      <strong>Things that I learn:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
      <strong>Technical tools:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
    </div>
  </div>
</div>
