<div class="job-container">
  <div class="job-content-left">
    <h4>Customer Service of <span style="color:rgba(25,20,20,.3);">Delivery App</span></h4>
    <%= button_to "Back", root_path, class:"button-contact", :method => :get %>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Company:</strong> Teleperformance Spain</p>
      <p><strong>City:</strong> Barcelona</p>
      <p><strong>Date:</strong> Sep 2018 to Feb 2019</p>
    </div>
    <div class="job-description">
      <p>Provide support to users and consumers of an App delivery through phone, chat, and email.<br>
      As a mediator between Clients, Partners and Carriers I helped to solve incidences generated in the delivery (mainly of food).<br>
      I applied the first troubleshooting steps to solve bugs in relation to the performance of the mobile App.<br>
      I worked with both Spanish and English languages.</p>
    </div>
  </div>
</div>
