<div class="job-container">
  <div class="job-content-left">
    <h4>Digital <span style="color:rgba(25,20,20,.3);">Marketing and Sales</span></h4>
    <button class="button-contact"><a href="/#jobs">Back</a></button>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Company:</strong> CbaFederal Company</p>
      <p><strong>City:</strong> Córdoba, Argentina</p>
      <p><strong>Date:</strong> March 2012 - May 2018 </p>
    </div>
    <div class="job-description">
      <p>I Managed publicity in different social media and the company´s web page.<br>
      The company provides electronic items to final users (like smartphones, computers, digital cameras, etc) and I sold those items attending the online demand and also the public attention face to face.<br>
      Also, I was in charge of stock control, billing, relationship with suppliers, and the cadet service.</p>
    </div>
  </div>
</div>
