<div class="job-container">
  <div class="job-content-left">
    <h4>Digital Marketing and Sales</h4>
    <%= button_to "Back", about_path, class:"button-contact", :method => :get %>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p>Company: CbaFederal Company</p>
      <p>City: Córdoba, Argentina</p>
      <p>Date: March 2012 - May 2018 </p>
    </div>
    <div class="job-description">
      <p>Sales through social media platforms of different technological products (printers, smartphones, notebooks, video projector, wifi network devices, etc). Provided customer support during the process of purchase and afterwards by chat, phone, mail. Community management for the social platforms of the company.</p>
      <strong>Things that I learn:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
      <strong>Technical tools:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
    </div>
  </div>
</div>
