<div class="job-container">
  <div class="job-content-left">
    <h4>Technical <span style="color:rgba(25,20,20,.3);">Support Analyst</span></h4>
    <%= button_to "Back", root_path, class:"button-contact", :method => :get %>
  </div>


  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Company:</strong> Nice People At Work</p>
      <p><strong>City:</strong> Barcelona</p>
      <p><strong>Date:</strong> March to September 2020</p>
    </div>
    <div class="job-description">
      <p>Worked as technical support agent with global users of the web application YOUBORA, a video analytics tool, in a B2B relationship.<br>
      Daily monitoring of the platform operations and functions. Detection and management of firsts class of bugs or problems, using troubleshooting steps and Google Chrome developers tools.<br>
      Preparation of weekly and monthly reports for clients, summarizing the information provided by Youbora metrics.<br>
      Communicator between teams in an Agile Environment: product, front-end, back-end, plugin, and customer success.</p>
    </div>
  </div>
</div>
