<div class="job-container">
  <div class="job-content-left">
    <h4>Technical Analyst at <span style="color:rgba(25,20,20,.3);"> NPAW</span></h4>
    <button class="button-contact"><a href="/#jobs">Back</a></button>
  </div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Date:</strong> March to September 2020</p>
    </div>
    <div class="job-description">
      <p>Daily <b>monitoring</b> of the operations and functionality of the <b>YOUBORA</b> platform (a video analytics tool) using <b>Grafana</b>.<br><br>
      Detection and initial handling of bugs and issues by following troubleshooting steps and using <b>Google Chrome Developer Tools</b>.<br><br>
      <b>Data analysis</b> and insights related to user behavior, helping clients understand how their end-users interacted with video content over time.<br><br>
      Weekly and monthly <b>reports</b> summarizing key YOUBORA metrics, such as Buffer Ratio, Concurrent Plays, and Exit Before Video Start.<br><br>
      Acted as a liaison between teams in an <b>Agile environment</b>, including product, front-end, back-end, plugin, and customer success teams.</p>
    </div>
  </div>
</div>
