<div class="job-container">
  <div class="job-content-left">
    <h4>Technical Support Analyst</h4>
    <%= button_to "Back", about_path, class:"button-contact", :method => :get %>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p>Company: Nice People At Work</p>
      <p>City: Barcelona</p>
      <p>Date: March to September 2020</p>
    </div>
    <div class="job-description">
      <p>Experience with technical support with the users of the software and Mobil APP of YOUBORA, a video analytics tool. Daily control of the platform operations and functions. Detection and management of bugs, using troubleshooting steps and Google Chrome developers tools. Communicator between teams in an Agile Environment: product, front-end, back-end, plugins, and customer success.</p>
      <strong>Things that I learn:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
      <strong>Technical tools:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
    </div>
  </div>
</div>
