<div class="job-container">
  <div class="job-content-left">
    <h4>Technical Support Engineer at <span style="color:rgba(25,20,20,.3);">Landbot</span></h4>
    <button class="button-contact"><a href="/#jobs">Back</a></button>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Date:</strong> Oct 2021 to Present</p>
    </div>
    <div class="job-description">
      <p>
        Work with frontend technologies – <b>HTML, CSS, JavaScript</b> – to troubleshoot and support custom implementations on client web services.<br><br>
        <b>LLM Integration – FAQ Assistant:</b> Design, build, and maintain a custom FAQ system using the OpenAI Assistants API, integrating our internal knowledge base (KB) to answer user queries. Implement input/output handling, conversation flow logic, and prompt refinement to ensure consistent, accurate responses.<br><br>
        Integrate and maintain connections with <b>third-party APIs and platforms</b>, including HubSpot, Google Analytics, Google Ads, Google Tag Manager, Dialogflow, Zapier, and Make.<br><br>
        <b>Lead training sessions</b> for the General Support Team and Customer Success Team, sharing best practices and technical know-how across tools and integrations (with a focus on AI-related tools).
      </p>
    </div>
  </div>
</div>
