<div class="job-container">
  <div class="job-content-left">
    <h4>Technical Support <span style="color:rgba(25,20,20,.3);">Engineer</span></h4>
    <button class="button-contact"><a href="/#jobs">Back</a></button>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Company:</strong> Landbot</p>
      <p><strong>City:</strong> Barcelona</p>
      <p><strong>Date:</strong> Nov 2021 to Present</p>
    </div>
    <div class="job-description">
      <p>Landbot is a software that allows you to create conversational landing pages, conversational websites, interactive surveys, lead generation bots & more. I am in charge of helping clients in solving problems involving CSS, Javascript, integrations with other platforms or APIs such as Dialogflow, Integromat, Google Map APIs, Zapier, Airtable, etc. I utilize GPT for constructing chatbots, assisting B2B customers, and troubleshooting any issues they may encounter while using GPT. I provide guidance on fine-tuning techniques and offer advice on creating effective prompts to prevent timeouts and minimize hallucinations. Additionally, I leverage GPT to clasify leads and generate personalized product recommendations.</p>
    </div>
  </div>
</div>
