<div class="job-container">
  <div class="job-content-left">
    <h4>Tourist Guide <span style="color:rgba(25,20,20,.3);">by Bike</span></h4>
    <%= button_to "Back", about_path, class:"button-contact", :method => :get %>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Company:</strong> Be Green Bike</p>
      <p><strong>City:</strong> Córdoba, Argentina</p>
      <p><strong>Date:</strong> Mar 2015 to Nov 2017</p>
    </div>
    <div class="job-description">
      <p>Planner and Tourist Guide of sustainable bicycle tours with a socio-historical and cultural perspective in the neighborhoods of Córdoba, Argentina. I wanted to bring people in touch with a part of Argentinian history and culture which is completely unknown, for example, the stories of African people or Native Americans.</p>
      <%= image_tag 'begreenbike.jpeg' %>
    </div>
  </div>
</div>
