<div class="job-container">
  <div class="job-content-left">
    <h4>Tourist Guide by Bike</h4>
    <%= button_to "Back", about_path, class:"button-contact", :method => :get %>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p>Company: Be Green Bike</p>
      <p>City: Córdoba, Argentina</p>
      <p>Date: Mar 2015 to Nov 2017</p>
    </div>
    <div class="job-description">
      <p>Planner and Tourist Guide of sustainable bicycle tours with a socio-historical and cultural perspective in the neighborhoods of Córdoba, Argentina. I wanted to bring people in touch with a part of Argentinian history and culture which is completely unknown, for example, the stories of African people or Native Americans.</p>
      <strong>Things that I learn:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
      <strong>Technical tools:</strong>
      <p>Spotify's content and creator platforms and is responsible for ensuring that artists get the opportunity to live off their work. Our Content Platform ingests.</p>
    </div>
  </div>
</div>
