<div class="job-container">
  <div class="job-content-left">
    <h4>UX/UI Designer <span style="color:rgba(25,20,20,.3);">Revving</span></h4>
    <button class="button-contact"><a href="/#jobs">Back</a></button>
  </div>
  <div>
  <div class="job-content-rigth">
    <div class="job-tags">
      <p><strong>Date:</strong> April 2022</p>
    </div>
    <div class="job-description">
      <p>As a freelance redesigned the landing page for <a href="https://revving.io/">Revving</a> in Figma, competing against a professional design agency, my proposal was selected for implementation.<br><br>
      Applied UI and marketing best practices, including clear visual hierarchy, optimized typography, balanced layout, and effective use of color and contrast.</p>
    </div>
  </div>
</div>
