<div class="contact" id="contact">
  <div class="contact-top">
    <button class="button-contact"><a href="mailto:anabbergese@gmail.com?">Contact me</a></button>
    <div>
      <a href="https://github.com/anabergese" target="_blank"><%= image_tag 'github.svg', class: "links-contact"%></a>
      <a href="https://www.linkedin.com/in/anabergese/" target="_blank"><%= image_tag 'linkedin.svg', class: "links-contact"%></a>
    </div>
  </div>

  <footer class="contact-footer">
    <!-- Iconos mention: -->
    <p>
      Iconos diseñados por <a href="https://www.freepik.com" title="Freepik" class="flaticon" target="_blank">Freepik </a>from <a href="https://www.flaticon.es/" title="Flaticon" class="flaticon" target="_blank">www.flaticon.es</a>
    </p>
    <a href="https://icons8.com/icon/14956/comedy" target="_blank">Comedy icon by Icons8</a>
    <button class="button-scroll-to-top" data-controller="buttontotop" data-buttontotop-target="btn"></button>
  </footer>
</div>
