<div class="contact" id="contact">
  <h2>Contact me</h2>
  <p>Audio is global, so we are too. Wherever in the world you’re looking for a new role, chances are, we’re there.</p>
  <button class="button-contact">Write me</button>
  <p></p>
  <br>
  <a href="https://github.com/anabergese"><%= image_tag 'github.svg', style: "width: 32px;background-color: white;padding: 2px;border-radius: 50%;text-decoration: none;"%></a>
  <a href="https://www.linkedin.com/in/anabergese/"><%= image_tag 'linkedin.svg', style: "width: 32px;background-color: white;padding: 2px;border-radius: 50%;text-decoration: none;"%></a>

<!-- Iconos mention: -->
  <div>
    Iconos diseñados por <a href="https://www.freepik.com" title="Freepik" class="flaticon">Freepik</a>from <a href="https://www.flaticon.es/" title="Flaticon" class="flaticon">www.flaticon.es</a>
  </div>
</div>
