<div class="contact" id="contact">
  <h2>Contact me</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend mattis ultricies. Donec vitae nibh quis arcu sodales suscipit eget nec massa. Nam in tristique tellus.</p>
  <button class="button-contact">Write me</button>
  <p></p>
  <br>
  <a href="https://github.com/anabergese" target="_blank"><%= image_tag 'github.svg', style: "width: 32px;background-color: white;padding: 2px;border-radius: 50%;text-decoration: none;"%></a>
  <a href="https://www.linkedin.com/in/anabergese/" target="_blank"><%= image_tag 'linkedin.svg', style: "width: 32px;background-color: white;padding: 2px;border-radius: 50%;text-decoration: none;"%></a>


  <footer class="contact-footer">
    <!-- Iconos mention: -->
    <p>
      Iconos diseñados por <a href="https://www.freepik.com" title="Freepik" class="flaticon" target="_blank">Freepik </a>from <a href="https://www.flaticon.es/" title="Flaticon" class="flaticon" target="_blank">www.flaticon.es</a>
    </p>
    <a href="https://icons8.com/icon/14956/comedy" target="_blank">Comedy icon by Icons8</a>
    <button class="button-scroll-to-top" data-controller="buttontotop" data-buttontotop-target="btn"></button>
  </footer>


</div>
