<div class="education" id="education">
  <h2>Education</h2>
  <!-- Slider main container -->
  <div class="swiper-container" data-controller="carouseleducation">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="card-education">
          <div>
            <p class="rounded-p-education">Barcelona</p>
            <h4>Fullstack Web Developer Bootcamp</h4>
            <p class="education-description">Expert course in User Experience and User Design. National Technological University, Argentina. Finished 2020.</p>
          </div>
          <div class="date-info">
            <p>Le Wagon. Finished: June 2021.</p>
         <!--    <a class="btn-date-info"></a> -->
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
            <h4>UX and UD expert course</h4>
            <p class="education-description">Expert course in User Experience and User Design. National Technological University, Argentina. Finished 2020.</p>
          </div>
          <div class="date-info">
            <p>National Technological University. Finished: 2020.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
         <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
             <h4>Degree in Human Nutrition</h4>
             <p class="education-description">Expert course in User Experience and User Design. National Technological University, Argentina. Finished 2020.</p>
          </div>
          <div class="date-info">
            <p>National University of Córdoba. Not finished.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
         <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
            <h4>Diploma in Gender Violence.</h4>
            <p class="education-description">Expert course in User Experience and User Design. National Technological University, Argentina. Finished 2020.</p>
          </div>
          <div class="date-info">
            <p>National Technological University. Finished: 2020.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
         <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
            <h4>Degree in Social Anthropology</h4>
            <p class="education-description">Expert course in User Experience and User Design. National Technological University, Argentina. Finished 2020.</p>
          </div>
          <div class="date-info">
            <p>National University of Córdoba. Finished: 2017.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
