<div class="education" id="education">
  <h2>Education</h2>
  <!-- Slider main container -->
  <div class="swiper" data-controller="carouseleducation">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="card-education">
          <div>
            <p class="rounded-p-education">Barcelona</p>
            <h4>Fullstack Web Developer Bootcamp</h4>
            <p class="education-description">Intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, Git, GitHub, Heroku and Ruby on Rails.</p>
          </div>
          <div class="date-info">
            <p>Le Wagon. Finished: June 2021.</p>
         <!--    <a class="btn-date-info"></a> -->
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
            <h4>UX and IxD expert course</h4>
            <p class="education-description">The design process in the context of software development (principles of design, UX research techniques and more).</p>
          </div>
          <div class="date-info">
            <p>National Technological University. Finished: 2020.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
         <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
             <h4>Degree in Human Nutrition</h4>
             <p class="education-description">Four years that allowed me to have a solid knowledge about the nutritional quality of food and food products available for human consumption.</p>
          </div>
          <div class="date-info">
            <p>National University of Córdoba. Unfinished.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
         <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
            <h4>Diploma in Gender Violence.</h4>
            <p class="education-description">Interdisciplinary views on gender violence and prevention scenarios for it. Analysis of history, movements, and actions.</p>
          </div>
          <div class="date-info">
            <p>National Technological University. Finished: 2020.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
         <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
            <h4>Degree in Social Anthropology</h4>
            <p class="education-description">Capable of research on habits, attitudes, opinions, behaviors, values, beliefs, and ideologies of human groups from the perspective of social and biological anthropology.</p>
          </div>
          <div class="date-info">
            <p>National University of Córdoba. Finished: 2017.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
