<div class="education" id="education">
  <h2>Education</h2>




<!-- Slider main container -->
<div class="swiper-container" data-controller="education">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="card-education">
        <div>
          <p class="rounded-p-education">Barcelona</p>
          <h4>Fullstack Web Developer Bootcamp</h4>
        </div>
        <div class="see-more">
          <p>See more</p>
          <a class="btn-see-more"></a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card-education">
        <div>
          <p class="rounded-p-education">Argentina</p>
          <h4>Degree in Social Anthropology</h4>
        </div>
        <div class="see-more">
          <p>See more</p>
          <a class="btn-see-more"></a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
       <div class="card-education">
        <div>
          <p class="rounded-p-education">Argetina</p>
          <h4>UX and UD expert course</h4>
        </div>
        <div class="see-more">
          <p>See more</p>
          <a class="btn-see-more"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"><<<</div>
  <div class="swiper-button-next">>>></div>

</div>


</div>
