<div class="education" id="education">
  <h2>Education</h2>
  <!-- Slider main container -->
  <div class="swiper-container" data-controller="carouseleducation">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="card-education">
          <div>
            <p class="rounded-p-education">Spain</p>
            <h4>Fullstack Web Developer Bootcamp</h4>
          </div>
          <div class="see-more">
            <p>See more</p>
            <a class="btn-see-more"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
            <h4>UX and UD expert course</h4>
          </div>
          <div class="see-more">
            <p>See more</p>
            <a class="btn-see-more"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
         <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
             <h4>Degree in Human Nutrition</h4>
             <small>(Not finished)</small>
          </div>
          <div class="see-more">
            <p>See more</p>
            <a class="btn-see-more"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
         <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
            <h4>Diploma in Gender Violence.</h4>
          </div>
          <div class="see-more">
            <p>See more</p>
            <a class="btn-see-more"></a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
         <div class="card-education">
          <div>
            <p class="rounded-p-education">Argentina</p>
            <h4>Degree in Social Anthropology</h4>
          </div>
          <div class="see-more">
            <p>See more</p>
            <a class="btn-see-more"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
