<div class="education">
  <h2>Education</h2>
   <div class="card-education">
    <div>
      <p class="rounded-p-education">Barcelona</p>
      <h4>Fullstack Web Developer Bootcamp</h4>
    </div>
    <p>See more<button class="btn-see-more"></button></p>
  </div>
</div>
