<div class="education" id="education" data-controller="changeColor" data-changeColor-target="color">
  <h2>Education</h2>
   <div class="card-education">
    <div>
      <p class="rounded-p-education">Barcelona</p>
      <h4>Fullstack Web Developer Bootcamp</h4>
    </div>
    <div class="see-more">
      <p>See more</p>
      <a class="btn-see-more"></a>
    </div>
  </div>
</div>
