<div class="hobbies" id="hobbies" data-controller="hobbies">
  <div class="hobbies-top">
    <h2>My hobbies</h2>
    <p>Audio is global, so we are too. Wherever in the world you’re looking for a new role, chances are, we’re there.</p>
  </div>
  <img src="https://www.lifeatspotify.com/images/120x120/tokyo-240.webp" alt="" data-hobbies-target="move">

</div>
<!-- Card for hobbies desactivated for the moment, because it brokes the width of the page -->
<!--   <div class="hobbies-cards" data-controller="hobbies">
    <div class="hobbies-row row-1">
      <div class="hobbies-card" data-hobbies-target="move">
        <img src="https://www.lifeatspotify.com/images/120x120/tokyo-240.webp" alt="">
        <p>Sustainability</p>
      </div>
      <div class="hobbies-card" data-hobbies-target="move">
        <img src="https://www.lifeatspotify.com/images/120x120/tokyo-240.webp" alt="">
        <p>Ecology</p>
      </div>
    </div>
    <div class="hobbies-row row-2">
      <div class="hobbies-card" data-hobbies-target="move">
        <img src="https://www.lifeatspotify.com/images/120x120/tokyo-240.webp" alt="">
        <p>Social affairs</p>
      </div>
      <div class="hobbies-card" data-hobbies-target="move">
        <img src="https://www.lifeatspotify.com/images/120x120/tokyo-240.webp" alt="">
        <p>Architecture</p>
      </div>
    </div>
    <div class="hobbies-row row-3">
      <div class="hobbies-card" data-hobbies-target="move">
        <img src="https://www.lifeatspotify.com/images/120x120/tokyo-240.webp" alt="">
        <p>Psicology</p>
      </div>
      <div class="hobbies-card" data-hobbies-target="move">
        <img src="https://www.lifeatspotify.com/images/120x120/tokyo-240.webp" alt="">
        <p>Human nutrition</p>
      </div>
    </div>
  </div>
</div>
 -->
