<div class="jobs" id="jobs" data-controller="changeColor" data-changeColor-target="color">
  <h2>Jobs experiences</h2>
  <div class="card-jobs">
    <div>
      <p class="rounded-p">Video Tool</p>
      <h4>Technical Support Analyst</h4>
    </div>
    <p>2020 | Barcelona</p>
  </div>
</div>
