<div class="jobs">
  <h2>Jobs experiences</h2>
  <div class="card-jobs"><h3>Aqui va un carousel con card</h3></div>
  <div class="card">
    <div>
      <p class="rounded-p">Video Tool</p>
      <h4>Technical Support Analyst</h4>
    </div>
    <p>2020 | Barcelona</p>
  </div>
</div>
