<div class="jobs" id="jobs">
  <h2>Jobs experiences</h2>
  <div class="card-jobs">
    <div>
      <p class="rounded-p">Video Tool</p>
      <h4>Technical Support Analyst</h4>
    </div>
    <p>2020 | Barcelona</p>
  </div>
</div>


<!-- Slider main container -->
<div class="swiper-container" data-controller="carouseljobs">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"><<<</div>
  <div class="swiper-button-next">>>></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

