<div class="jobs" id="jobs">
  <h2>Jobs experiences</h2>


<!-- Slider main container -->
<div class="swiper-container" data-controller="carouseljobs">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="card-jobs">
        <div>
          <p class="rounded-p">Video Tool</p>
          <h4>Technical Support Analyst</h4>
        </div>
        <p>2020 | Barcelona</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card-jobs">
        <div>
          <p class="rounded-p">Digital MKT</p>
          <h4>Technical Advertiser Support</h4>
        </div>
        <p>2019 | Lisboa</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card-jobs">
        <div>
          <p class="rounded-p">Music App</p>
          <h4>Content Moderator</h4>
        </div>
        <p>2018 | Barcelona</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card-jobs">
        <div>
          <p class="rounded-p">Delivery App</p>
          <h4>Customer Service</h4>
        </div>
        <p>2018 | Barcelona</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card-jobs">
        <div>
          <p class="rounded-p">Ecommerce</p>
          <h4>Community Manager</h4>
        </div>
        <p>2016 | Argentina</p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card-jobs">
        <div>
          <p class="rounded-p">Green Tourism</p>
          <h4>Tourist Guide</h4>
        </div>
        <p>2016 | Argentina</p>
      </div>
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"><<<</div>
  <div class="swiper-button-next">>>></div>
</div>


</div>
