<div>
  <div class="cover-main">
    <div class="topnav" data-controller="navbar" data-navbar-target="opacity">
      <div>
        <%= image_tag("https://img.icons8.com/ios/32/ffffff/mesh.png") %>
      </div>
      <div>
        <a href="#projects">Projects</a>
        <a href="#jobs">Jobs</a>
        <a href="#education">Education</a>
        <a href="#skills">Skills</a>
        <a href="#hobbies">Hobbies</a>
      </div>
      <div data-navbar-target="opacity">
        <a href="#contact">Contact me</a>
      </div>
    </div>

    <div class="cover-top">
      <div class="cover-top-right">
        <p>Hello world! I am</p>
        <h1>Ana Bergese</h1>
        <button class="button-cover">Explore all jobs</button>
      </div>
      <div class="cover-top-left">
        Chat iterante
      </div>
    </div>
    <div class="search-bar">Search bar</div>
  </div>

</div>



