<div>
  <div class="cover-main">
    <div class="topnav">
      <div>
        <%= image_tag("ABBergese") %>
      </div>
      <div>
        <a href="#projects">Projects</a>
        <a href="#jobs">Jobs</a>
        <a href="#education">Education</a>
        <a href="#skills">Skills</a>
        <a href="#hobbies">Hobbies</a>
      </div>
      <div>
        <a href="#contact">Contact me</a>
      </div>
    </div>

    <div class="cover-top">
      <div class="cover-top-right">
        <p>354 jobs in 25 locations</p>
        <h1>Join the band</h1>
        <button class="button-cover">Explore all jobs</button>
      </div>
      <div class="cover-top-left">
        Chat iterante
      </div>
    </div>
    <div class="search-bar">Search bar</div>
  </div>

</div>



