<div class="topnav">
    <div>
      <%= image_tag("ABBergese") %>
    </div>
    <div>
      <a href="#news">Projects</a>
      <a href="#contact">Jobs</a>
      <a href="#contact">Education</a>
      <a href="#contact">Skills</a>
      <a href="#contact">Hobbies</a>
    </div>
    <div>
      <a href="#about">Contact me</a>
    </div>
</div>
