<div>
    <div class="topnav" data-controller="navbar" data-navbar-target="opacity">
      <%= link_to about_path, method: :get do %>
        <div class="img-navbar"></div>
      <% end %>
      <div>
        <a href="#projects">Projects</a>
        <a href="#jobs">Jobs</a>
        <a href="#education">Education</a>
        <a href="#skills">Skills</a>
      </div>
      <div data-navbar-target="opacity">
        <a href="#contact">Contact me</a>
      </div>
    </div>
</div>




