<div>
    <div class="topnav" data-controller="navbar" data-navbar-target="opacity">
      <div class="img-navbar">
      </div>
      <div>
        <a href="#projects">Projects</a>
        <a href="#jobs">Jobs</a>
        <a href="#education">Education</a>
        <a href="#skills">Skills</a>
        <a href="#hobbies">Hobbies</a>
      </div>
      <div data-navbar-target="opacity">
        <a href="#contact">Contact me</a>
      </div>
    </div>
</div>



