<div class="projects" id="projects">
    <h2 data-scrollanimation-target="projectstitle">Last Projects</h2>
    <a
      href="https://python-blog-frontend.onrender.com/"
      class="project-links"
      target="_blank"
    >
      <p class="color-gray-400" data-scrollanimation-target="projectnames">The Blog, <b class="color-black-400">React con FastAPI</b></p>
      <div class="project-icons">  
        <img src="https://icon.icepanel.io/Technology/svg/FastAPI.svg">
        <img src="https://static.vecteezy.com/system/resources/previews/028/033/553/non_2x/oop-icon-free-vector.jpg">
        <img src="https://img.stackshare.io/service/1020/OYIaJ1KK.png">
        <img src="https://bgasparotto.com/wp-content/uploads/2016/11/design-patterns-logo-2.png" style="background-color:white">
        <img src="https://orpot.com/blog/wp-content/uploads/2018/01/bulma.png">
      </div>
      <button class="button-projects"></button>
    </a>
    <a
      href="https://github.com/anabergese/notifications_challenge"
      class="project-links"
      target="_blank"
    >
      <p class="color-gray-400" data-scrollanimation-target="projectnames">Notifications, <b class="color-black-400">EDA with FastAPI</b></p>
      <div class="project-icons">
        <img src="https://icon.icepanel.io/Technology/svg/FastAPI.svg">
        <img src="https://static.vecteezy.com/system/resources/previews/028/033/553/non_2x/oop-icon-free-vector.jpg">
        <img src="https://www.tothenew.com/blog/wp-ttn-blog/uploads/2023/09/redis_logo-1.png">
        <img src="https://bgasparotto.com/wp-content/uploads/2016/11/design-patterns-logo-2.png" style="background-color:white">
        <img src="https://www.sdmmag.com/ext/resources/Company-Logos/docker-logo.jpg">
        </div>
      <button class="button-projects"></button>
    </a>
    <a
    href="https://talking-with-me.onrender.com/"
    class="project-links"
    target="_blank"
  >
    <p class="color-gray-400" data-scrollanimation-target="projectnames">Talking With Me, <b class="color-black-400">Express JS</b></p>
    <div class="project-icons">
      <img src="https://img.stackshare.io/service/7007/TWYoDqir_400x400.png">
      <img src="https://cronuts.digital/wp-content/uploads/2023/02/chat-gpt-open-ai.png">
      <img src="https://ih1.redbubble.net/image.404031065.2191/st,small,507x507-pad,600x600,f8f8f8.u1.jpg">
      <img src="https://adware-technologies.s3.amazonaws.com/uploads/technology/thumbnail/20/express-js.png">
      <img src="https://www.androidheadlines.com/wp-content/uploads/2023/08/ElevenLabs-Logo-jpg.webp">
      <img src="https://global-uploads.webflow.com/644238b1cf656a0846763003/64aee7a04f88801ae3ae7443_34.webp">
      </div>
    <button class="button-projects"></button>
  </a>
    <a
      href="https://tasksmate.netlify.app/"
      class="project-links"
      target="_blank"
    >
      <p class="color-gray-400" data-scrollanimation-target="projectnames">TaskMate, <b class="color-black-400">React</b></p>
      <div class="project-icons">
        <img src="https://img.stackshare.io/service/7007/TWYoDqir_400x400.png">
        <img src="https://cronuts.digital/wp-content/uploads/2023/02/chat-gpt-open-ai.png">
        <img src="https://img.stackshare.io/service/1020/OYIaJ1KK.png">
        <img src="https://www.styled-components.com/atom.png">
        <img src="https://storage.googleapis.com/media.landbot.io/1831/chats/e53d94fe-2273-4040-8437-85c79858d6c7/F1RAP0WXHL53BJQ4DAKJYZY4HF1HR8QW.svg">
        </div>
      <button class="button-projects"></button>
    </a>
    <a
      href="https://todolistasd.netlify.app/"
      class="project-links"
      target="_blank"
    >
      <p class="color-gray-400" data-scrollanimation-target="projectnames">Todo List, <b class="color-black-400">React</b></p>
      <div class="project-icons"> 
        <img src="https://img.stackshare.io/service/7007/TWYoDqir_400x400.png">
        <img src="https://img.stackshare.io/service/1020/OYIaJ1KK.png">
        <img src="https://www.programacionytecnologia.com/images_articles/sass-logo.png">
      </div>
      <button class="button-projects"></button>
    </a>
</div>

