<div class="projects">
    <h2>Projects</h2>
    <a href="http://www.betoogreen.io/" class="project-links">
      <p>Be Too Green <b>description</b></p>
      <button class="button-projects"></button>
    </a>
    <a href="" class="project-links">
      <p>Be Famous Too <b>description</b></p>
      <button class="button-projects"></button>
    </a>
    <a href="" class="project-links">
      <p>Watch List <b>description</b></p>
      <button class="button-projects"></button>
    </a>
</div>

