<div class="projects" id="projects" data-controller="changecolor" data-changeColor-target="color">
    <h2>Projects</h2>
    <a href="http://www.betoogreen.io/" class="project-links" target="_blank">
      <p>Be Too Green <b>description</b></p>
      <button class="button-projects"></button>
    </a>
    <a href="" class="project-links" target="_blank">
      <p>Be Famous Too <b>description</b></p>
      <button class="button-projects"></button>
    </a>
    <a href="" class="project-links" target="_blank">
      <p >Watch List <b>description</b></p>
      <button class="button-projects"></button>
    </a>
</div>

