<div class="projects" id="projects" data-controller="changecolor" data-changeColor-target="color">
    <h2>See how I improved in a short period of time:</h2>
    <a href="http://www.betoogreen.io/" class="project-links" target="_blank">
      <p>Be Too Green, <b>July 2021</b></p>
      <button class="button-projects"></button>
    </a>
    <a href="https://betoofamous.herokuapp.com/" class="project-links" target="_blank">
      <p>Be Famous Too, <b>Jun 2021</b></p>
      <button class="button-projects"></button>
    </a>
    <a href="http://anabelenbergese.com/" class="project-links" target="_blank">
      <p >My first portfolio, <b>Nov 2020</b></p>
      <button class="button-projects"></button>
    </a>
</div>

