<div class="projects" id="projects">
    <h2 data-scrollanimation-target="projectstitle">See my progress:</h2>
    <a
      href="http://www.betoogreen.io/"
      class="project-links active"
      target="_blank"
      style="
        background-image: url('https://images.unsplash.com/photo-1629399063596-52b85e64faf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=536&q=80');
        background-size: 180px 300px;
        background-position: right top;
      "
    >
      <p class="color-gray-400" data-scrollanimation-target="projectnames">Be Too Green, <b class="color-black-400">July 2021</b></p>
      <div class="project-icons">
        <img src="https://img.stackshare.io/service/989/ruby.png">
        <img src="https://img.stackshare.io/service/990/x57_Lorv.png">
        <img src="https://img.stackshare.io/service/1209/javascript.jpeg">
        <img src="https://img.stackshare.io/service/1028/ASOhU5xJ.png">
        <img src="https://image.flaticon.com/icons/png/512/1051/1051277.png">
        <img src="https://image.flaticon.com/icons/png/512/919/919831.png">
        <img src="https://img.stackshare.io/service/133/3wgIDj3j.png">
        <img src="https://img.stackshare.io/service/27/sBsvBbjY.png">
        <img src="https://img.stackshare.io/service/7007/TWYoDqir_400x400.png">
        <img src="https://img.stackshare.io/service/109/-CvHThPk_400x400.jpg">
        <img src="https://seeklogo.com/images/S/stimulus-logo-B866A6C9D0-seeklogo.com.png">
      </div>
      <button class="button-projects"></button>
    </a>
    <a
      href="https://todolistasd.netlify.app/"
      class="project-links"
      target="_blank"
      style="
        background-image: url('https://images.unsplash.com/photo-1629399063541-622f4a9683f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2880&q=80');
        background-size: 180px 300px;
        background-position: right top;
        "
    >
      <p class="color-gray-400" data-scrollanimation-target="projectnames">Todo List, <b class="color-black-400">July 2021</b></p>
      <div class="project-icons">
        <img src="https://img.stackshare.io/service/1209/javascript.jpeg">
        <img src="https://image.flaticon.com/icons/png/512/1051/1051277.png">
        <img src="https://image.flaticon.com/icons/png/512/919/919831.png">
        <img src="https://img.stackshare.io/service/133/3wgIDj3j.png">
        <img src="https://img.stackshare.io/service/27/sBsvBbjY.png">
        <img src="https://img.stackshare.io/service/7007/TWYoDqir_400x400.png">
        <img src="https://img.stackshare.io/service/109/-CvHThPk_400x400.jpg">
        <img src="https://img.stackshare.io/service/1020/OYIaJ1KK.png">
        <img src="https://img.stackshare.io/service/2748/default_5dfbb146cf22182bca88c7d07f2515a5888fc12a.jpg">
      </div>
      <button class="button-projects"></button>
    </a>
    <a
      href="https://betoofamous-b2ff2399e491.herokuapp.com/"
      class="project-links"
      target="_blank"
      style="
        background-image: url('https://images.unsplash.com/photo-1629399484435-a0c08e58c45b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=896&q=80');
        background-size: 180px 300px;
        background-position: right top;
      "
    >
      <p class="color-gray-400" data-scrollanimation-target="projectnames">Be Famous Too, <b class="color-black-400">Jun 2021</b></p>
      <div class="project-icons">
        <img src="https://img.stackshare.io/service/989/ruby.png">
        <img src="https://img.stackshare.io/service/990/x57_Lorv.png">
        <img src="https://img.stackshare.io/service/1209/javascript.jpeg">
        <img src="https://img.stackshare.io/service/1028/ASOhU5xJ.png">
        <img src="https://image.flaticon.com/icons/png/512/1051/1051277.png">
        <img src="https://image.flaticon.com/icons/png/512/919/919831.png">
        <img src="https://img.stackshare.io/service/133/3wgIDj3j.png">
        <img src="https://img.stackshare.io/service/27/sBsvBbjY.png">
        <img src="https://img.stackshare.io/service/7007/TWYoDqir_400x400.png">
        <img src="https://img.stackshare.io/service/109/-CvHThPk_400x400.jpg">
      </div>
      <button class="button-projects"></button>
    </a>
    <a
      href="https://yourwatchlist-30355b528b46.herokuapp.com/"
      class="project-links"
      target="_blank"
      style="
        background-image: url('https://images.unsplash.com/photo-1629399063560-158c38a7987e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1234&q=80');
        background-size: 180px 160px;
        background-position: right top;
      "
    >
      <p class="color-gray-400" data-scrollanimation-target="projectnames">Your Watchlist, <b class="color-black-400">Jun 2021</b></p>
      <div class="project-icons">
        <img src="https://img.stackshare.io/service/989/ruby.png">
        <img src="https://img.stackshare.io/service/990/x57_Lorv.png">
        <img src="https://image.flaticon.com/icons/png/512/1051/1051277.png">
        <img src="https://image.flaticon.com/icons/png/512/919/919831.png">
        <img src="https://img.stackshare.io/service/133/3wgIDj3j.png">
        <img src="https://img.stackshare.io/service/27/sBsvBbjY.png">
      </div>
      <button class="button-projects"></button>
    </a>
    <a
      href="https://anabergese.github.io/my_curriculum/"
      class="project-links"
      target="_blank"
      style="
        background-image: url('https://images.unsplash.com/photo-1629398950090-77e70301667f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=360&q=80');
        background-size: 180px 370px;
        background-position: right top;
      "
    >
      <p class="color-gray-400" data-scrollanimation-target="projectnames">My first portfolio, <b class="color-black-400">Nov 2020</b></p>
      <div class="project-icons">
        <img src="https://image.flaticon.com/icons/png/512/1051/1051277.png">
        <img src="https://image.flaticon.com/icons/png/512/732/732190.png">
      </div>
      <button class="button-projects"></button>
    </a>
</div>

