<div class="skills" id="skills">
  <div class="cards-skills">
    <div class="soft-skills">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="card-skills">
              <h4>Soft Skills</h4>
              <!-- <img class="image-skills" src="https://img.icons8.com/emoji/300/000000/feather-emoji.png" alt="Skills image"> -->
              <%= image_tag "soft12.png", class: "image-skills" %>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-skills">
              <ul>
                <li>Team commitment</li>
                <li>Adaptability</li>
                <li>Empathy</li>
                <li>Investigation and Resolution skills</li>
                <li>Fast learning</li>
                <li>High volume concept learning</li>
                <li>Capable of Multitask</li>
                <li>Time management</li>
                <li>Organizational skills</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="technical-skills">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="card-skills">
              <h4>Technical skills</h4>
              <!-- <img class="image-skills" src="https://img.icons8.com/bubbles/300/000000/development-skill.png" alt="Skills image"> -->
              <%= image_tag "technical12.png", class: "image-skills" %>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-skills">
              <ul>
                <li>Design, build and maintain LLMs</li>
                <li>React</li>
                <li>Python</li>
                <li>Node & Express</li>
                <li>Ruby on Rails</li>
                <li>FastAPI & Django</li>
                <li>HTML, CSS, JS</li>
                <li>Typescript</li>
                <li>REST APIs</li>
                <li>PostgreSQL</li>
                <li>Git, GitHub</li>
                <li>Slack and Jira, Confluence and Trello</li>
                <li>UI & UX</li>
                <li>Figma</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="languages">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="card-skills">
              <h4>Languages</h4>
              <!-- <img class="image-skills" src="https://img.icons8.com/bubbles/300/000000/glossary.png" alt="Skills image"> -->
              <%= image_tag "languages12.png", class: "image-skills" %>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-skills">
              <ul>
                <li>English, advanced</li>
                <li>Spanish, mother tongue</li>
                <li>Portuguese, beginner</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
