<div class="skills" id="skills">
  <h2>Skills</h2>
  <div class="card-skills">
    <div>
      <p class="rounded-p">Video Tool</p>
      <h4>Soft Skills</h4>
    </div>
    <img class="image-skills" src="https://www.lifeatspotify.com/images/300x300/stockholm-600.webp" alt="Skills image">
    <p>2020 | Barcelona</p>
  </div>
</div>
