<div class="skills" id="skills">
  <div class="cards-skills">
    <div class="soft-skills">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="card-skills">
              <h4>Soft Skills</h4>
              <!-- <img class="image-skills" src="https://img.icons8.com/emoji/300/000000/feather-emoji.png" alt="Skills image"> -->
              <%= image_tag "SoftSkilss.png", class: "image-skills" %>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-skills">
              <ul>
                <li>Team commitment</li>
                <li>Adaptability</li>
                <li>Empathy</li>
                <li>Investigation and Resolution skills</li>
                <li>Fast learning</li>
                <li>Empathy</li>
                <li>High volume concept learning</li>
                <li>Capable of Multitask</li>
                <li>Time management</li>
                <li>Organizational skills</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="technical-skills">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="card-skills">
              <h4>Technical skills</h4>
              <!-- <img class="image-skills" src="https://img.icons8.com/bubbles/300/000000/development-skill.png" alt="Skills image"> -->
              <%= image_tag "technical.png", class: "image-skills" %>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-skills">
              <ul>
                <li>HTML, CSS, JavaScript ES6</li>
                <li>Bootstrap</li>
                <li>Stimulus</li>
                <li>SQL, git, GitHub</li>
                <li>REST APIs</li>
                <li>Freshdesk, Salesforce, Workplace</li>
                <li>Heroku and Ruby on Rails.</li>
                <li>Slack and Jira, Confluence and Trello</li>
                <li>Figma</li>
                <li>Hotjar</li>
                <li>React</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="languages">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="card-skills">
              <h4>Languages</h4>
              <!-- <img class="image-skills" src="https://img.icons8.com/bubbles/300/000000/glossary.png" alt="Skills image"> -->
              <%= image_tag "languages.png", class: "image-skills" %>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="card-skills">
              <ul>
                <li>English, advanced</li>
                <li>Spanish, mother tongue</li>
                <li>Portuguese, beginner</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
