<div class="skills">
  <h2>Skills</h2>
  <div class="card-skills">
    <div>
      <p class="rounded-p">Video Tool</p>
      <h4>Technical Support Analyst</h4>
    </div>
    <p>2020 | Barcelona</p>
  </div>
</div>
