<div class="summary">
  <div class="summary-left">
    <%= image_tag "summaryf.png" %>
  </div>
  <div class="summary-right">
    <div class="summary-details">
      <h2 class="title">Know more about me</h2>
      <p class="description">I'm a Junior Full-Stack Developer recently graduated from Le Wagon academy. I am a multifaceted person, with personal interests and work experiences in different fields, which you can discover throughout the tour of my website. I redirected my career towards web development because I want to exploit my creative skills and logical-mathematical thinking, to contribute to projects that have a beneficial impact on our society.</p>
      <a href="https://github.com/anabergese" target="_blank"><%= image_tag 'github.svg', class: "links-summary"%></a>
      <a href="https://www.linkedin.com/in/anabergese/" target="_blank"><%= image_tag 'linkedin.svg', class: "links-summary"%></a>
    </div>
  </div>
</div>
