<div class="summary">
  <div class="summary-left">
    <img src="https://pbs.twimg.com/profile_images/1098225250469326848/2KN00JjZ.png" alt="Image">
  </div>
  <div class="summary-rigth">
    <div class="summary-menu">
      <p>Who we are</p>
      <p>Our culture</p>
      <p>Equity & impact</p>
    </div>
    <div class="summary-details">
      <h2 class="title">Nine to five? No thanks</h2>
      <p class="description">Clock on, clock off just isn’t our vibe. We want you to feel like you can come to work with a spring in your step, passion for what you do, and the desire to keep growing.</p>
      <button class="button-summary">Read more</button>
    </div>
  </div>
</div>
