<div class="summary">
  <div class="summary-left">
    <%= video_tag "summary-triangle.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>
  <div class="summary-right">
    <div class="summary-menu">
      <p class="summary-menu-p">Who we are</p>
      <p class="summary-menu-p">Our culture</p>
      <p>Equity & impact</p>
    </div>
    <div class="summary-details">
      <h2 class="title">Nine to five? No thanks</h2>
      <p class="description">Clock on, clock off just isn’t our vibe. We want you to feel like you can come to work with a spring in your step, passion for what you do, and the desire to keep growing.</p>
      <button class="button-summary">Read more</button>
    </div>
  </div>
</div>
