<div class="summary">
  <div class="summary-left">
    <%= image_tag "https://img.icons8.com/ios/320/000000/mesh.png" %>
  </div>
  <div class="summary-right">
    <div class="summary-menu">
      <p class="summary-menu-p">Coder</p>
      <p class="summary-menu-p">Anthropologist</p>
      <p>Almost nutritionist</p>
    </div>
    <div class="summary-details">
      <h2 class="title">Like a square peg in a round hole</h2>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend mattis ultricies. Donec vitae nibh quis arcu sodales suscipit eget nec massa. Nam in tristique tellus.</p>
      <button class="button-summary">Read more</button>
    </div>
  </div>
</div>
