<div class="summary">
  <div class="summary-left">
    <%= image_tag "multit.png" %>
  </div>
  <div class="summary-right">
    <div class="summary-details">
      <h2 class="title">Know more about me</h2>
      <p class="description">I'm a Software Engineer and former Anthropologist, graduated from Le Wagon.  
      This site was built using Ruby on Rails, one of the core technologies I learned during the bootcamp.  
      Recently, I’ve focused more on backend development and discovered a strong interest in software architecture. Planning and designing scalable, maintainable solutions is something I truly enjoy.</p>
      <a href="https://github.com/anabergese" target="_blank"><%= image_tag 'github.svg', class: "links-summary"%></a>
      <a href="https://www.linkedin.com/in/anabergese/" target="_blank"><%= image_tag 'linkedin.svg', class: "links-summary"%></a>
    </div>
  </div>
</div>
