<div class="summary">
  <div class="summary-left">
    <%= image_tag "https://img.icons8.com/ios/320/000000/mesh.png" %>
  </div>
  <div class="summary-right">
    <div class="summary-menu">
      <p class="summary-menu-p">Who we are</p>
      <p class="summary-menu-p">Our culture</p>
      <p>Equity & impact</p>
    </div>
    <div class="summary-details">
      <h2 class="title">Like a square peg in a round hole</h2>
      <p class="description">Squaring the circle. Clock on, clock off just isn’t our vibe. We want you to feel like you can come to work with a spring in your step, passion for what you do, and the desire to keep growing.</p>
      <button class="button-summary">Read more</button>
    </div>
  </div>
</div>
