@import "summary";
.jobs {
  text-align: center;
  height: 100vh;
  background-color: transparent;
  color: #191414;
  h2 {
    @include titleH2($marginTop: 0px, $marginBottom: 70px);
    padding-top: 70px;
  }
}


// Card of jobs:

.card-jobs {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 351px;
  height: 438px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  background-color: #C3F0C8;

  h4 {
    font-size: 2.375rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -.02em;
  }
}


.card-jobs:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.rounded-p {
    background-color: #D5F5D9;
    width: 95px;
    padding: 0 15px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    min-height: 40px;
    justify-content: center;

}
