@import "summary";
.jobs {
  text-align: center;
  height: 100vh;
  background-color: transparent;
  color: #191414;
  h2 {
    @include titleH2($marginTop: 0px, $marginBottom: 0px);
    padding-top: 70px;
  }
}


// Card of jobs:

.card-jobs {
  width: 351px;
  height: 438px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  background-color: #C3F0C8;

  h4 {
    font-size: 2.375rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -.02em;
  }
}

.rounded-p {
    background-color: #D5F5D9;
    width: 95px;
    padding: 0 15px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    min-height: 40px;
    justify-content: center;

}


// Style for the carousel of jobs section:


.swiper-container {
  width: 100%;
  height: 532px;
  margin: 20px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  margin: 0;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-button-next {
    position: absolute;
    top: 43%;
    left: 71%;
    background-color: yellow;
    color: white;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.swiper-button-prev {
    position: absolute;
    top: 43%;
    left: 22%;
    background-color: yellow;
    color: white;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}


