@import "summary";
.jobs {
  text-align: center;
  height: 100vh;
  background-color: transparent;
  color: #191414;
  h2 {
    @include titleH2($marginTop: 200px, $marginBottom: 50px);
  }
  a {
      text-decoration: none;
      &:visited {
          color: #191414;
      }
    }
}


// Card of jobs:
.card-jobs {
  width: 351px;
  height: 438px;
  padding: 30px;
  margin: 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #C3F0C8;

  h4 {
    font-size: 2.375rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -.02em;
    a {
      color: #191414;
    }
  }
}

.rounded-p {
  width: 95px;
  min-height: 40px;
  padding: 0 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #D5F5D9;
}

// Style for the carousel of jobs section:
.swiper-container-jobs {
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  margin: 0;
  /* Center slide text vertically */
  align-items: center;
}

// Buttons of carousel:
.swiper-button-next-jobs {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 43%;
  left: 71%;
  border-radius: 50%;
  border-color: #191414;
  border-width: thin;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  background-image: url("right-arrow.svg");
  background-size: 25px;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev-jobs {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 43%;
  left: 22%;
  border-radius: 50%;
  border-color: #191414;
  border-width: thin;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  background-image: url("right-arrow.svg");
  background-size: 25px;
  z-index: 10;
  cursor: pointer;
  transform: rotate(180deg);
}
