@import "summary";
.skills {
  text-align: center;
  height: 100vh;
  background-color: transparent;
}

// Cards of skills:
.cards-skills {
  display: flex;
  justify-content: space-between;
  margin: auto 100px;
  padding-top: 160px;

}

.card-skills {
  width: 371px;
  height: 400px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(25,20,20,.3);
  color: black;
  h4 {
    font-size: 2.625rem;
    font-weight: 400;
    letter-spacing: -.02em;
    margin: 20px auto 25px;
  }
}

.image-skills {
  width: 100%;
  max-width: 132px;
  max-height: 132px;
  min-width: 132px;
  min-height: 132px;
  height: auto;
  display: block;
  background-size: cover;
  border-radius: 100px;
  margin-top: 18px;
}
