@import "summary";
.skills {
  text-align: center;
  height: 100vh;
  background-color: #C3F0C8;
  h2 {
    @include titleH2($marginTop: 0px, $marginBottom: 70px);
    padding-top: 70px;
  }
}


// Card of skills:

.card-skills {
  width: 371px;
  height: 509px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  background-color: white;
  color: #191414;
  h4 {
    font-size: 3.625rem;
    font-weight: 400;
    letter-spacing: -.02em;
    margin: 20px auto 25px;
    /* Use this property in case necesary: word-wrap: break-word; */
  }
}


.card-skills:hover {

}

.image-skills {
    width: 100%;
    max-width: 299px;
    max-height: 299px;
    height: auto;
    display: block;
    border-radius: 20px;
}

.rounded-p {
    background-color: white;
    border-color: rgba(16,16,24,.12);
    border-radius: 100px;
    border: 1px solid #e2e2e3;
    color: rgba(16,16,24,.6);
    width: 95px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    min-height: 40px;
    justify-content: center;
    margin: 0;
}
