@use "summary" as s;

.jobs {
  text-align: center;
  height: 100vh;
  background-color: transparent;
  color: #191414;
  h2 {
    @include s.titleH2($marginTop: 200px, $marginBottom: 50px);
  }
  a {
    text-decoration: none;
    &:visited {
      color: #191414;
    }
  }
}

// Card of jobs:
.card-jobs {
  width: 351px;
  height: 438px;
  padding: 30px;
  // margin: 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #C3F0C8;
  h4 {
    font-size: 2.375rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -.02em;
  a {
    color: #191414;
  }
  }
}

.rounded-p {
  width: 95px;
  min-height: 40px;
  padding: 0 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #D5F5D9;
}

.swiper-slide {
  // text-align: center;
  // font-size: 18px;
  flex-shrink: unset !important;
  margin-right: 30px;
  margin-left: 30px;
  background: transparent;
  // margin: 0;
  transition: transform 0.3s ease, scale 0.3s ease;
  opacity: 0.6;
  // transform: scale(0.9);
}

.jobs .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

// Buttons of carousel:
.swiper-button-next-jobs {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 95%;
  top: 50%;
  border-radius: 50%;
  border-color: #191414;
  border-width: thin;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  background-image: url("right-arrow.svg");
  background-size: 25px;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev-jobs {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1%;
  top: 50%;
  border-radius: 50%;
  border-color: #191414;
  border-width: thin;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  background-image: url("right-arrow.svg");
  background-size: 25px;
  z-index: 10;
  cursor: pointer;
  transform: rotate(180deg);
}


@media only screen and (max-width: 600px) {
  .jobs {
    display: none;
    // h2 {
    //   font-size: 22px;
    //   text-align: center;
    // }
  }

  // // Card of jobs:
  // .card-jobs {
  //   width: 175px;
  //   height: 219px;
  //   padding: 15px;
  //   margin: 4px 0px;
  //   border-style: solid;

  //   h4 {
  //     font-size: 1rem;
  //     font-weight: 300;
  //     line-height: 100%;
  //   }
  // }

  // .rounded-p {
  //   width: 47px;
  //   min-height: 20px;
  //   padding: 0 7px;
  // }

  // .swiper-slide {
  //   font-size: 8px;
  // }

  // // Buttons of carousel:
  // .swiper-button-next-jobs {
  //   width: 32px;
  //   height: 32px;
  //   background-size: 20px;
  // }

  // .swiper-button-prev-jobs {
  //   position: absolute;
  //   width: 32px;
  //   height: 32px;
  //   background-size: 20px;
  // }
}
