@mixin button($backgroundColor, $border-color) {
  width: 186px;
  height: 60px;
  font-weight: 300;
  background: #191414;
  color: white;
  border-color: $border-color;
  border-radius: 100px;
  border-width: 5px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 18px;

  &:hover {
    background-color: $backgroundColor;
    color: #191414;
    border-color: #191414;
    border-width: 1px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
  }

}

// Buttons project section:
.button-projects {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #191414;
    border: 1px solid #191414;
    background-image: image-url("right-arrow-white.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    transition-duration: 400ms;
    transition-property: margin-right;
}


.project-links:hover {

  border-color: #191414;


  .button-projects {
    background-color: white;
    margin-right: 16px;
    transition-duration: 500ms;
    transition-property: background-color, margin-right;
    background-image: image-url("right-arrow.svg");
    background-size: 25px;
  }
}


// Buttons contact section:
.button-contact {
  width: 186px;
  height: 60px;
  font-weight: 300;
  background: #191414;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  text-decoration: none;
  font-size: 18px;
  transition-duration: 400ms;
  transition-property: background-color;

  &:hover {
    background-color: white;
    color: #191414;
    border-color: #191414;
    border-width: 1px;
    cursor: pointer;
    transition-duration: 400ms;
    transition-property: background-color;
  }
}


.button-scroll-to-top {
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-image: image-url("up-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 25px;
  transition-duration: 400ms;
  transition-property: background-color;

  &:hover {
    background-color: #191414;
    border: 1px solid white;
    background-image: image-url("up-arrow-white.svg");
    background-size: 25px;
    transition-duration: 400ms;
    transition-property: background-color;
  }
}
