@mixin button($backgroundColor, $border-color) {
  width: 186px;
  height: 60px;
  font-weight: 300;
  background: #191414;
  color: white;
  border-color: $border-color;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 18px;

  &:hover {
    background-color: $backgroundColor;
    color: #191414;
    border-color: #191414;
    border-width: 1px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
  }

}

.button-cover {
  @include button($backgroundColor: #DC322B, $border-color: #191414);
}

.button-summary {
  @include button($backgroundColor: white, $border-color: #191414);
}

.button-contact {
  @include button($backgroundColor: white, $border-color: white);
}
