@mixin button($backgroundColor, $border-color) {
  width: 186px;
  height: 60px;
  font-weight: 300;
  background: #191414;
  color: white;
  border-color: $border-color;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 18px;

  &:hover {
    background-color: $backgroundColor;
    color: #191414;
    border-color: #191414;
    border-width: 1px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
  }

}

.button-cover {
  @include button($backgroundColor: #DC322B, $border-color: #191414);
}

.button-summary {
  @include button($backgroundColor: white, $border-color: #191414);
}

// Buttons project section:

.button-projects {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    background-color: #191414;
    border: 1px solid #191414;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjA0LjY0bC0uNjUyLjc1OCA4LjI2NiA3LjEwOEguMDAxdjFoMjAuNjU0bC04LjI2OCA3LjEzNC42NTQuNzU4IDkuNzI2LTguMzk0TDEzLjA0LjY0eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}


  .project-links:hover {
    border-color: #191414;
    transition: border-color .25s ease;

    .button-projects {
      background-color: white;
      transition: background-color .4s, border-color .4s;
      margin-right: 16px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjA0LjY0bC0uNjUyLjc1OCA4LjI2NiA3LjEwOEguMDAxdjFoMjAuNjU0bC04LjI2OCA3LjEzNC42NTQuNzU4IDkuNzI2LTguMzk0TDEzLjA0LjY0eiIgZmlsbD0iIzE5MTQxNCIvPjwvc3ZnPg==);
    }
  }


// Buttons contact section:

.button-contact {
  @include button($backgroundColor: white, $border-color: white);
}


.button-scroll-to-top {
  transform: rotate(-90deg);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjA0LjY0bC0uNjUyLjc1OCA4LjI2NiA3LjEwOEguMDAxdjFoMjAuNjU0bC04LjI2OCA3LjEzNC42NTQuNzU4IDkuNzI2LTguMzk0TDEzLjA0LjY0eiIgZmlsbD0iIzE5MTQxNCIvPjwvc3ZnPg==);
}


.button-scroll-to-top:hover {
  background-color: #191414;
  border: 1px solid #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjA0LjY0bC0uNjUyLjc1OCA4LjI2NiA3LjEwOEguMDAxdjFoMjAuNjU0bC04LjI2OCA3LjEzNC42NTQuNzU4IDkuNzI2LTguMzk0TDEzLjA0LjY0eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
}
