@import "summary";
.education {
  text-align: center;
  height: 100vh;
  background-color: #ffcdd2;

  h2 {
    @include titleH2($marginTop: 0px, $marginBottom: 70px);
    padding-top: 70px;
    color: #191414;
  }
}
