/* Style the links inside the navigation bar */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }

  a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: #EAB4AE;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.24, 1.02);
      transition-delay: 0s;
    }
  }

}
