.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0);
  transition: .48s ease-in-out;
  padding: 20px 30px;

  .img-navbar {
    background-image: url(https://img.icons8.com/ios/32/ffffff/mesh.png);
    width: 32px;
    height: 32px;
    background-size: cover;
  }

  /* Style the links inside the navigation bar */

  a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: #EAB4AE;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.24, 1.02);
      transition-delay: 0s;
    }
  }

}



// Change navbar opacity when scroll up:

.navbar-white {
  position: fixed; /* Set the navbar to fixed position */
  width: 96vw; /* Full width */
  z-index: 100;
  background-color: hsla(0,0%,100%,.8);
  backdrop-filter: blur(15px);

    a {
       color: #191414;

        &:hover {
          color: rgba(16,16,24,.6);
        }
    }

    .img-navbar {
    background-image: url(https://img.icons8.com/ios/32/191414/mesh.png);
  }

}


