.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0);
  transition: .48s ease-in-out;

  img {
    cursor: pointer;
  }
/* Style the links inside the navigation bar */

  a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: #EAB4AE;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.24, 1.02);
      transition-delay: 0s;
    }
  }

}



// Change navbar opacity when scroll up:

.navbar-white {
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  z-index: 100;


  transition: .48s ease-in-out;

  background-color: hsla(0,0%,100%,.8);
  backdrop-filter: blur(15px);

    a {
       color: #191414;
    }
}


