.summary {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: #191414;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.summary-rigth {
  padding: 0 20px;
  margin: 0 0 0 108px;
}

.summary-left {
  margin-left: 118px;
}

.summary-menu {
  display: flex;
  p {
    margin-top: 0;
  }

  .summary-menu-p {
    padding-bottom: 24px;
    margin: 0 40px 0 0;
  }

}

@mixin titleH2($marginTop: 18px, $marginBottom: 40px) {
  font-size: 3.625rem;
  font-weight: 400;
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
  line-height: 110%;
}
.title {
  @include titleH2;
}



.description {
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 150%;
}
