// Entry point for your Sass build

// Graphical variables
@use "config/colors";

// // Your CSS partials
@use 'components/index';

// // gpt recomendation for swiper:
@use "swiper/swiper.scss" as *;



body {
  color: #FFFFFF;
  font-size: 18px;
  background: transparent;
  transition: background  400ms;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -.02em;
  margin: 0px;
}
