// Entry point for your Sass build

// Graphical variables
@use "config/colors";

// // Your CSS partials
@use 'components/index';

// // gpt recomendation for swiper:
@use "swiper/swiper.scss" as *;

// my code before was Swiper from here:
// @import 'swiper/swiper.scss';
// @import 'swiper/components/navigation/navigation.scss';
// @import 'swiper/components/pagination/pagination.scss';
// @import 'swiper/components/controller/controller.scss';


body {
  color: #FFFFFF;
  font-size: 18px;
  background: transparent;
  transition: background  400ms;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -.02em;
  margin: 0px;
}
